#spotlight-inner {font-size: 1.25em;}
#spotlight #page-options li {line-height: 1.15em;}

.themes-documentation ul {
    margin:0 0 5px 40px;
    padding:0;
    list-style: square;
}
.themes-documentation li {
    padding:3px 0 3px 0;
    font-size: 14px;
}
h3.themes-documentation {
    font-size:20px;
    letter-spacing: -0.05em;
    color:#00487d;
    margin:0px 20px 0px 30px;
    padding:0 0 5px 0;
    border-bottom:1px dashed #00487d;
}
#themes #whiterow {
	min-height: 120px;
}

#placeholder {
    margin:20px auto 0 auto;
    clear:both;
	height:auto;
}
div.skin-elgg {
	width:990px;
	margin: 0 auto;
}

div.photo a	{text-decoration: none; outline: none;}
div#zoom {z-index: 99999;}
a#zoom_close {outline: none;}

#themegallery li {
	background: url(../images/theme_thumb_background.gif) no-repeat left top;	
}
#themegallery li:hover {
	background: url(../images/theme_thumb_background_hover.gif) no-repeat left top;	
}

div.phototitle {
	color:#333333;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 14px;
	height:0;
	position:relative;
	left:9px;
	top:190px;
}
div.themeinfo {
	display: none;
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-size: 13px;
	line-height: 1.6em;
	padding:27px 0 6px 9px;
	background: url(../images/theme_thumb_background_hover.gif) no-repeat left bottom;	
}
/* IE 6 fixes */
* html div.themeinfo { 
	background: url(../images/theme_thumb_background.gif) no-repeat left bottom;	
}
div.themeinfo a {
	color:#666666;
	padding:0 0 4px 22px;
	font-weight: normal;
}
div.themeinfo a:hover {
	color:#333333;
}
div.themeinfo a.zoomthisimage {
	background: url(../images/icon_preview.gif) no-repeat left top;
}
div.themeinfo a.themeinfomore {
	background: url(../images/icon_moreinfo.gif) no-repeat left top;
}
div.themeinfo a.themeinfodownload {
	background: url(../images/icon_download.gif) no-repeat left top;
}
div.photo {
	text-align: left;
}
div.photo a img	{
	border:none;
	padding:10px 0 0 10px;
}

div#preloadimages {
       width: 0px;
       height: 0px;
       overflow: hidden;
}

.container {
    position: relative;
}

.clip {
    z-index: 2;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.list {
    z-index: 1;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.list li,
.item {
    float: left;
    list-style: none;
    width: 195px;
    height: 214px;
}

.next {
    z-index: 3;
    display: none;
}

.prev {
    z-index: 3;
    display: none;
}

.skin-elgg .container {
    background: #ffffff;
}

.skin-elgg .container-horizontal {
    width: 872px;
    padding: 0px 58px;
}

.skin-elgg .clip-horizontal {
    width:  869px;
    height: 300px;
}

.skin-elgg .item {
    width: 195px;
    height: 314px;
    border: 1px solid #fff;
}

.skin-elgg .item:hover {
    /* border-color: #cccccc; */
}

.skin-elgg .item-horizontal {
    /* fix - might have to remove for ie */
    margin-left: 8px;
    margin-right: 15px;
}

.skin-elgg .item-placeholder {
}

.skin-elgg .next-horizontal {
    position: absolute;
    top: 80px;
    right: 0px;
    width: 58px;
    height: 64px;
    cursor: pointer;
    background: transparent url(../images/next_button.gif) no-repeat -2px 0px;
}

.skin-elgg .next-horizontal:hover {
    background-position: -62px 0;
}

.skin-elgg .next-horizontal:active {
    background-position: -62px 0;
}

.skin-elgg .next-disabled-horizontal,
.skin-elgg .next-disabled-horizontal:hover,
.skin-elgg .next-disabled-horizontal:active {
    cursor: default;
    background-position: -122px 0;
}

.skin-elgg .prev-horizontal {
    position: absolute;
    top: 80px;
    left: 0px;
    width: 58px;
    height: 64px;
    cursor: pointer;
    background: transparent url(../images/prev_button.gif) no-repeat 0 0;
}

.skin-elgg .prev-horizontal:hover {
    background-position: -60px 0;
}

.skin-elgg .prev-horizontal:active {
    background-position: -60px 0;
}

.skin-elgg .prev-disabled-horizontal,
.skin-elgg .prev-disabled-horizontal:hover,
.skin-elgg .prev-disabled-horizontal:active {
    cursor: default;
    background-position: -120px 0;
}